<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
    <link href="{{css_path}}/ninjadocs.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
    </div>
    <div id="content">
        {{{body}}}
    </div>
    <div id="footer">
        <a href="#">Top</a>
    </div>
  </body>
</html>
